body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    overflow: hidden;
}
.IMGL{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
}
.menu ul li {
    margin: 0;
}
.menu ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #444;
    border-radius: 5px;
}
.header-right {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}
.body {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
